.Text-Primario {
    padding: 8px 0px 8px 5px;
    font-size: 14px;
    color: #313131;
    font-family: Arial, sans-serif;
    font-weight: bold;
}



.Text-Negrito-Um {
    font-size: 20px;
    font-weight: 600;
    color: #3d5999;
    /* cinza escuro elegante */
    margin: 0;
}

.text-transparente-um {
    font-size: 14px;
    color: #6b7280;
    /* cinza suave */
    margin: 0;
}

.card-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    background: #ffffff;

    padding: 10px 12px;
    border-radius: 14px;
    width: fit-content;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.logo-icon {
    background: #1e3a8a;
    padding: 14px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon i {
    color: rgb(255, 255, 255);
    font-size: 26px;
}

.logo-texts {
    display: flex;
    flex-direction: column;
}

.logo-title {
    color: #1e3a8a;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.logo-subtitle {
    color: #d1830d;

    font-size: 14px;
    font-weight: 500;
}